streamlit
pandas
google-cloud-bigquery
google.cloud
google-cloud-secret-manager==2.0.0
rich
numpy
millify
plotly
streamlit_option_menu
pyinstrument
st-pages
db-dtypes
BeautifulSoup4
pathlib
scikit-learn
gcsfs